<!--Extenion de la cabezera y pie de pagina -->
{% extends 'base.html' %}

{% load static %}

<!--Contenido dinamico-->
{% block content %}

<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="row">
            <aside class="col-lg-8">
                <div class="card">
                    <h5 class="card-header">Direccion de Factura</h5>
                    <div class="card-body">
                        <p class="card-text mb-0">{{order.full_name}}</p>
                        <p class="card-text mb-0">{{order.full_addres}}</p>
                        <p class="card-text mb-0">{{order.city }}, {{order.state}}</p>
                        <p class="card-text mb-0">{{order.country}}</p>
                        <p class="card-text mb-0">{{order.emails}}</p>
                        <p class="card-text mb-0">{{order.phone}}</p>
                        <!--Condicion para saber si existe una descripcion de la orden-->
                        {% if order.order_note %}
                            <b>Detalle de la order: </b>{{order.order_note}}
                        {% endif %}
                    </div>
                </div> <!-- card.// -->

                <div class="card">
                    <h5 class="card-header">Metodo de pago</h5>
                    <div class="card-body">
                        <p class="card-text">Paypal</p>
                    </div>
                </div> <!-- card.// -->

                <div class="card">
                    <h5 class="card-header">Revicion de Productos</h5>
                    <div class="card-body">
                        
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Productos</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col" width="120">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Ciclo for que rrecorre el objeto con los productos-->
                                {% for cart_item in cart_items%}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{cart_item.product.images.url}}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{cart_item.product.get_url}}"
                                                    class="title text-dark">{{cart_item.product.product_name}}</a>
                                                <p class="text-muted small">
                                                    <!--Despliegue de los valores Variations de cada producto-->
                                                    <!--Si la collection de los variations tiene valores-->
                                                    {% if cart_item.variations.all %}
                                                        {% for item in cart_item.variations.all %}
                                                            {{ item.variation_category | capfirst }} : {{item.variation_value | capfirst}} <br>
                                                        {% endfor %}
                                                    {% endif %}
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{ cart_item.quantity}}</label>
                                    </td>
                                    <td>
                                        <div class="price-wrap">
                                            <!--Funcion que me traera el subtotal de cada producto-->
                                            <var class="price">${{cart_item.sub_total}}</var>
                                            <small class="text-muted"> ${{cart_item.product.price}} c/u</small>
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>
                </div> <!-- card.// -->

            </aside> <!-- col.// -->
            <aside class="col-lg-4">

                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Precio total:</dt>
                            <dd class="text-right">${{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Impuesto:</dt>
                            <dd class="text-right"> ${{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right text-dark b"><strong>${{grand_total}}</strong></dd>
                        </dl>
                        <hr>
                        <!--Integracion del los botones de paypal-->
                        <p class="text-center mb-3">
                            <img src="{% static './admin/images/misc/payments.png'%}" height="26">
                        </p>
                            <div id="paypal-button-container"></div>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->

            </aside> <!-- col.// -->


        </div> <!-- row.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

    </div> <!-- container .//  -->

    <!--Codigo Script para el proceso de pago por medio de paypal-->
    <script>
        //Funcion que obtiene las cookies de la transaccion
        function getCookie(name){
            let cookieValue = null;
            if (document.cookie && document.cookie !== ''){
                const cookies = document.cookie.split(';');
                for (let i = 0; i<cookies.length; i++){
                    const cookie = cookies[i].trim();
                    if(cookie.substring(0, name.length + 1) == (name + '=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        //Variable con el monto total a pagar
        var amount = "{{grand_total}}"
        //Variable con la direccion del path payments
        var url = "{% url 'payments' %}"
        //Ejecucion de la funcion que obtiene las cookies de la transaccion
        var csrftoken = getCookie('csrftoken');
        var orderID = "{{order.order_number}}"
        var payment_method = 'PayPal';
        var redirect_url = "{% url 'order_complete' %}"
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({
            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            //Monto total a pagar
                            value: amount
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(orderData) {
                    // Successful capture! For demo purposes:
                    console.log(orderData);
                    sendData();

                    //Funcion con los parametros que se estaram procesando en el def payments
                    function sendData(){
                        //Ejecucion de la variable url
                        fetch(url, {
                            //Metodo de envio
                            method: "POST",
                            //Cabezera del request
                            headers: {
                                "Content-Type": "application/json",
                                "X-CSRFToken": csrftoken,
                            },
                            body: JSON.stringify({
                                orderID: orderID,
                                transID: orderData.id,
                                payment_method: payment_method,
                                status: orderData.status
                            }),
                        })
                        //Obtension de la respuesta por parte de la funcion payments
                        .then((response) => response.json())
                        .then((data) => {
                            //Redirect al url order_complete concatenado con la data que llega de pyaments
                            window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;
                        });
                    }
                });
            }


        }).render('#paypal-button-container');
    </script>

    {% endblock %}